/*
   Import partials below
*/
@import './normalize';

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(248, 217, 217);
}

.item-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  border: 2px solid #fff;
  height: 70px;
  font-size: 30px;
  align-items: center;
}

.result-list {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 15px;
}

.item-data{
  width: auto;
  min-width: 300px;
  margin: 0 20px ;
}

.item-logo{
  width: auto;
  height: 60px;
  max-width: 200px;

img{
  width: auto;
  height: 100%;
 }
}

.btn {
  width: 200px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f73c3c;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #9ca5aa;
  font-size: 18px;
  font-style: italic;
  background-color: transparent;
  border-bottom: 2px solid #087e08;
}